@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/yekan/Yekan.ttf") format("ttf");
    src: url("../assets/fonts/yekan/Yekan.eot") format("eot");
    src: url("../assets/fonts/yekan/Yekan.woff") format("woff");
    src: url("../assets/fonts/yekan/Yekan.woff2") format("woff2");
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/vazir/Vazir-Black-WOL.ttf") format("ttf");
    src: url("../assets/fonts/vazir/Vazir-Bold-WOL.eot") format("eot");
    src: url("../assets/fonts/vazir/Vazir-Bold-WOL.woff") format("woff");
    src: url("../assets/fonts/vazir/Vazir-Light-WOL.woff2") format("woff2");
}

#app {
    font-family: Yekan, sans-serif;
}

* {
    direction: rtl;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.selection-menu {
    border: 1px solid cadetblue;
    border-radius: 4px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    position: relative;
    margin-right: 10px;
    font-family: Yekan, Helvetica, Arial, sans-serif;
    padding: 5px;
    &:focus {
        border: 1px solid cadetblue;
    }

}

.hide {
    display: none;
}
.nopadding {
    padding: 0 !important;
}
.button {
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #00ccc2;
    font-family: Vazir, Yekan, Helvetica, Arial, sans-serif;
}